<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<head>
<meta charset="UTF-8">
<title>상세보기</title>
</head>
<body>
	<div class="panel panel-defualt" layout:fragment="content1"></div>
	<th:block layout:fragment="script1">
	</th:block>


	<div class="panel panel-default" layout:fragment="bcontent1">
		<h1 class="panel-heading">Board 상세보기</h1>
		<div class="panel-body">

			<form id="myfrm" class="form-inline" th:action="@{/board/update}"
				method="post">
				<input type="hidden" id="bid" name="bid" th:value="${board.bid}">
				<input type="hidden" id="redate" name="bregdate"
					th:value="${board.bregdate}">
				<div class="form-group">
					<label for="btitle">title:</label>
					<h3>[[${board.btitle}]]</h3>
				</div>
				<label for="bregdate">작성일:</label>
				<div class="bregdate"
					th:text="${#dates.format(board.bregdate, 'yyyy-MM-dd')}"></div>
				<br> <label for="bregdate">작성자:</label>
				<div class="email"
					th:text="${#strings.abbreviate(board.customer.email,7)}"></div>
				<br>
				<div class="form-group" id="contentButton">
					<label for="bcontent">content:</label><br>
					
					
					<div id="bcontent"
						style="border: black solid 1px; width: 300px; height: 100%">
						[[${board.bcontent}]]
					</div>
				</div>
				<br> <br> <br>


				<div class="pull-right">

					<div th:if="${board.customer.email}==${#authentication.name}">
						<a href="javascript:boardMod()" >수정하기</a>
						<a th:href="@{/board/delete(bid=${board.bid})}"
							class="btn btn-warning delbtn2">삭제하기</a>
					</div>

				</div>

				<input type="hidden" name="page" th:value=${pagevo.page}> <input
					type="hidden" name="size" th:value=${pagevo.size}> <input
					type="hidden" name="type" th:value=${pagevo.type}> <input
					type="hidden" name="keyword" th:value=${pagevo.keyword}>

			</form>


			<!-- ############################################### 댓글 #################################################-->


			<div class='container'>

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>내용</th>
							<th>작성자</th>
							<th>작성일</th>
						</tr>
					</thead>

					<tbody id="Table">

					</tbody>
					<tr>
						<td>
							<input placeholder="댓글 내용" id="replyADD">
						</td>
						<td>
							<input type="hidden" value="${#authentication.name}" id="emailADD">
						</td>
						<td>
							<button type='button' onclick='add(this);'>댓글추가</button>
						</td>
					</tr>
				</table>

			</div>





			<!-- 페이징 처리 -->
			<form id="f1" action="" method="get">
				<input type="hidden" name="page" th:value=${pagevo.page}> <input
					type="hidden" name="size" th:value=${pagevo.size}> <input
					type="hidden" name="type" th:value=${pagevo.type}> <input
					type="hidden" name="keyword" th:value=${pagevo.keyword}>
			</form>

		</div>

	</div>



	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->


		</div>
	</div>


	<a th:href="@{/board/boardlist(page=${pagevo.page},size=${pagevo.size},type=${pagevo.type},keyword=${pagevo.keyword})}"
		class="btn btn-warning modbtn2">목록보기</a>



	<th:block layout:fragment="script">
		<script th:src="@{/js/reply.js}"></script>
		<script th:inline="javascript">
		

			
		$(function(e) {

				(function() {
					console.log(replyManager);
					replyManager.getAll("[[${board.bid}]]", printList);

				})();

			});
			function printList(rList) {
				console.log(rList);
				var authName = [[${#authentication.name}]];
				console.log("'" + authName + "'");
				var str = "";
				$
						.each(
								rList,
								function(idx, item) {
									str += "<tr>";

									str += "<td>" + item["reply"] + "</td>";
									str += "<td>"
											+ item["customer"]["email"].substr(
													0, 4) + "***" + "</td>";
									str += "<td>"
											+ formatDate(item["rupdatedate"])
											+ "</td> <td>";
											console.log("'" + item['customer']['email'] + "'");	
									if (item['customer']['email'] == authName) {
										console.log("yes");
										str += "<button  onclick='call(this);' id='modify' > 댓글수정 </button>"
												+ "<span style=' display : none;'>"
												+ item["rid"]
												+ "</span>"
												+ "<span style=' display : none;'>"
												+ item["customer"]["customer_id"]
												+ "</span>"
												+ "<button  onclick='del(this);' id='modify'> 삭제 </button>";
									}
									str += "</td> </tr>";
								});
				$("#Table").html(str);

			};

			function formatDate(t) {
				var date = new Date(t)
				return (date.getMonth() + 1 >= 10 ? date.getMonth() + 1 : '0'
						+ (date.getMonth() + 1))
						+ "-" + date.getDate()

			};
		</script>
		<script>
			function del(item) {

				var rid = $(item).parent().children("span:nth-child(2)");

				var obj = {
					"bid" : "[[${board.bid}]]",
					"rid" : rid.html()
				};
				replyManager.remove(obj, printList);
				alert("삭제완료");

			};

			function call(item) {
				item.disabled = true;
				console.log(item);
				var reply = $(item).parent().parent().children(
						"td:nth-child(1)");
				var email = $(item).parent().parent().children(
						"td:nth-child(2)");
				var customer = $(item).parent().children("span:nth-child(3)")
						.html();
				var rid = $(item).parent().children("span:nth-child(2)").html();

				var mod = "<tr>"
						+ "<td><input id ='replyId'  value='"
						+ reply.html()
						+ "'></td>"
						+ "<td>"
						+ email.html()
						+ "</td>"
						+ "<td> 수정중 </td>"
						+ "<td><button type='button' onclick='modReply(this);' id='save'>저장</button>"
						+ "<span style=' display : none;'>" + rid + "</span>"
						+ "<span style=' display : none;'>" + customer
						+ "</span>" + "</td></tr>";

				$(item).parent().parent().after(mod);
			}
			// 댓글수정
			function modReply(item) {
				
				var rid = $(item).parent().children("span:nth-child(2)");
				var customer = $(item).parent().children("span:nth-child(3)");
				var obj = {
					"bid" : "[[${board.bid}]]",
					"reply" : $("#replyId").val(),
					"customer" : customer.html(),
					"rid" : rid.html(),
				};
				console.log(obj);

				replyManager.update(obj, printList);
				alert("수정완료");

			};

			function add(item) {

				var authName = '[[${#authentication.name}]]';				

				var obj = {
						"bid" : "[[${board.bid}]]",
						"reply" : $("#replyADD").val(),
						"email" : authName
				};
				console.log(obj);
					replyManager.add(obj, printList);
			};
			
			function boardMod() {
				$('#bcontent').contents().unwrap().wrap( '<textarea>[[${board.bcontent}]] </textarea>' );
				$('#contentButton').after("<button onclick='modifyBoard(this);'> 수정완료 </button>");
				
			};
			
			function modifyBoard(item) {
				
				var obj = {
						"board" : "[[${board}]]",
						"reply" : $("#replyADD").val(),
						"email" : authName
				};
				
				$.ajax({
					url:"/board/update",
					data:  obj,
					type: "post",
		 			success:callback
				})
			}
			
		</script>
	</th:block>
</body>
</html>