<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>문의하기</title>
</head>
<body>

	
		<h1 class="panel-heading"> 문의하기</h1>
		<div class="panel-body">
		
			<form th:action="@{qnaregister}" method="post">
				<div class="form-group">
					<label for="qtitle">title:</label> <br>
					<input class="form-control" placeholder="enter title" name="qtitle" >
				</div><br><br>
				<div class="form-group">
					<label for="qcontent">content:</label><br>
					<textarea class="form-group" rows="3" cols="" name="qcontent"></textarea>
				</div><br><br><br>
	
				<div class="form-group">
			
				<p sec:authentication = "principal.member.customerName"/></p>

				</div><br><br><br>
				<button type="submit" >등록하기</button>
				<button type="reset" >reset</button>
			</form>

		</div>


</body>
</html>