<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<h1 >Board 등록</h1>
		<div >
		
			<form th:action="@{register}" method="post">
				<div class="form-group">
					<label for="btitle">title:</label> <br>
					<input type="text" class="form-control" placeholder="enter title" >
				</div><br><br>
				<div class="form-group">
					<label for="bcontent">content:</label><br>
					<textarea class="form-group" rows="3" cols=""></textarea>
				</div><br><br><br>
			
				
				<div class="form-group">
				<p sec:authentication="name">님에 의해서 작성됩니다.</p>
				</div><br><br><br>
				<button type="submit" >등록하기</button>
				<button type="reset" >reset</button>
			</form>

		</div>

	</div>
</body>
</html>