<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<img alt="이미지" th:src="@{/images/고래밥.jpg}" width="100px" height=100px>

	<div>
		<select id="searchType">
			<option>전체</option>
			<option value="packagename" th:selected="${pagevo.type=='pack.packagename'}">패키지</option>
			<option value="customer" th:selected="${pagevo.type=='customer'}">작성자</option>

		</select> <input type="text" id="searchKeyword">
		<button id="searchBtn">조건검색</button>
	</div>
	
	<h3><a th:href="@{/board/reviewregister}">글쓰기</a></h3>
	
	<table>
      <tr> 
       <th>번호</th><th>패키지</th><th>한줄평</th><th>별점</th><th>작성자</th>
      </tr>
      <tr th:each="review:${reviewResult.content}">
         <td>
         <!-- ============= -->
            <span th:text="${review.reviewId}"></span>
         </td>
         <td>
         	<span th:text="${review.pack}" ></span>
         </td>
         <td> 
        	 <span th:text="${review.score}" ></span>
         </td>
         <td >
         <!-- 문자열의 한계치를 설정하고, length가 한계치 이상이라면 잘라낸후 …으로 표시해준다. -->
         	<div class = "email" th:text="${#strings.abbreviate(review.customer.email,7)}"> </div>
         </td>
      </tr>
   </table>
   
   
   <!-- 페이징 처리 -->
		<form id="f1" th:action="@{/board/reviewlist}" method="get">
			<input type="hidden" name="page" th:value=${result.currentPageNum}>
			<input type="hidden" name="size"
				th:value=${result.currentPage.pageSize}> <input
				type="hidden" name="type" th:value=${pagevo.type}> <input
				type="hidden" name="keyword" th:value=${pagevo.keyword}>
		</form>
		<nav>
			<ul class="pagination">
				<li class="page-item" th:if="${result.prevPage}"><a
					th:href="${result.prevPage.pageNumber}+1">PREV</a></li>
				<li class="page-item" th:each="pg:${result.pageList}"><a
					th:href="${pg.pageNumber}+1"
					th:classappend="${pg.pageNumber==result.currentPageNum-1}?active:''">
						[[${pg.pageNumber}+1]]</a></li>
				<li class="page-item" th:if="${result.nextPage}"><a
					th:href="${result.nextPage.pageNumber}+1">NEXT</a></li>
			</ul>
		</nav>

   
<script>
			$(function() {
				
				var formObj = $("#f1");
				$(".pagination a").click(function(e) {
					e.preventDefault(); //본래의 기능(link)을 취소
					formObj.find("[name='page']").val($(this).attr("href"));
					formObj.submit();
				});
				$("#searchBtn").click(function() {
					var typeStr = $("#searchType").find(":selected").val();
					var keywordStr = $("#searchKeyword").val();
					alert(typeStr + ":" + keywordStr);
					formObj.find("[name='type']").val(typeStr);
					formObj.find("[name='keyword']").val(keywordStr);
					formObj.submit();
				});
			});

		</script>
</body>
</html>