<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <img alt="이미지" th:src="@{/images/고래밥.jpg}" width="100px" height=100px> 
 
 
 <select id="searchType">
		<option>전체</option>
		<option value = "packagename" th:selected="${pagevo.type=='pack.packagename'}">제목</option>
		<option value = "score" th:selected="${pagevo.type=='score'}">점수</option>
		<option value = "customer" th:selected="${pagevo.type=='customer'}">작성자</option>

</select>
 

</body>
</html>