<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<img alt="이미지" th:src="@{/images/고래밥.jpg}" width="100px" height=100px>

	<div>
		<select id="searchType">
			<option>전체</option>
			<option value="packagename"
				th:selected="${pagevo.type=='pack.packagename'}">패키지</option>
			<option value="score" th:selected="${pagevo.type=='score'}">점수</option>
			<option value="customer" th:selected="${pagevo.type=='customer'}">작성자</option>

		</select> <input type="text" id="searchKeyword">
		<button id="searchBtn">조건검색</button>
	</div>
	
	<h3><a th:href="@{/board/reviewregister}">글쓰기</a></h3>
	
	<table>
      <tr> 
       <th>번호</th><th>패키지</th><th>한줄평</th><th>별점</th><th>작성자</th>
      </tr>
      <tr th:each="qna:${qnaResult.content}">
         <td>
         <!-- ============= -->
            <a th:href="@{/board/boarddetail(bid=${board.bid})}" th:text="${board.bid}"></a>
         </td>
         <td>
         	<a class = "boardLink" th:text="${board.btitle}" th:href="@{/board/boarddetail(bid=${board.bid})}"></a>
        	 <span class = "badge">[[${board.replies.size()}]]</span>
         </td>
         <td >
         <!-- 문자열의 한계치를 설정하고, length가 한계치 이상이라면 잘라낸후 …으로 표시해준다. -->
         	<div class = "email" th:text="${#strings.abbreviate(board.customer.email,7)}"> </div>
         </td>
         <td th:text="${board.bregdate}"></td>
      </tr>
   </table>


</body>
</html>