<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
<form method="post"  >
				<p>
					<label for="username">Username</label> <input type="text"
						id="username" name="username" value="" />  <!-- 이름변경불가  : username -->
				</p>
				<p>
					<label for="password">Password</label> 
					<input type="password"
						id="password" name="password" value="" /> <!-- 이름변경불가  : password -->
				</p>			

				<!-- <input type="hidden" th:name="${_csrf.parameterName}" 	th:value="${_csrf.token}" />   -->
				<button type="submit" class="btn btn-primary" >Log in</button>
			</form>
			<a th:href="@{/auth/joinForm}">회원가입</a>
<a th:href="@{/auth/passwordFind}">비밀번호 찾기</a>

</body>
</html>